.animate {
    -webkit-animation-name: example !important; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s !important; /* Safari 4.0 - 8.0 */
    animation: example !important;
    animation-duration: 4s !important;
    color: "red" !important;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    -ms-transform: scale(1.05, 1.05); /* IE 9 */
    -webkit-transform: scale(1.05, 1.05); /* Safari */
    transform: scale(1.05, 1.05);

}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {background-color:00A1CB; left:0px; top:0px;}
    25%  {background-color:#00CCFF; left:200px; top:0px;}
    15%   {background-color:00A1CB; left:0px; top:0px;}
    50%  {background-color:#d70060; left:200px; top:200px;}
    65%  {background-color:#d70060; left:200px; top:200px;}
    75%  {background-color:#61ae24; left:0px; top:200px;}
    100%  {background-color:#00CCFF; left:0px; top:200px;}
}

/* Standard syntax */
@keyframes example {
    0%   {background-color:00A1CB; left:0px; top:0px;}
    25%  {background-color:#00CCFF; left:200px; top:0px;}
    50%  {background-color:#d70060; left:200px; top:200px;}
    75%  {background-color:#61ae24; left:0px; top:200px;}
    100%  {background-color:#00CCFF; left:0px; top:200px;}
}

/* Add some padding inside the card container */
.container {
    padding: 16px;
}